.product--card {
  height: 350px;
  background-color: var(--darkBlue);
  border-radius: 5px;
  color: white;
}

.product--card__top {
  height: 60%;
}

.product--card__top img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}

.product--card__bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
  padding: 10px;
}

.product--card__header {
  display: flex;
  justify-content: space-between;
}

.product--description {
  flex: 1;
}

.product--rate {
  background-color: var(--darkGreen);
  padding: 5px 14px;
}

.product--cart {
  background-color: var(--darkYellow);
  padding: 5px 14px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
}

.product--cart:disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.446);
}

.cart--card {
  display: flex;
  height: 100px;
  gap: 10px;
  background-color: chocolate;
  margin-bottom: 20px;
}

.cart--card__img {
  width: 30%;
}

.cart--card img {
  width: 100%;
  height: 100%;
}

.cart--card__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: chartreuse;
  flex: 1;
}

.cart--card__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: crimson;
}