.overlay {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.modal--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--darkWhite);
  height: 80%;
  width: 40%;
  box-shadow: 2px 5px 14px 7px rgba(0,0,0,0.49);
  border-radius: 10px;
  padding: 20px;
}

.modal--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  font-weight: 700;
}

.modal--container button {
  width: 20%;
}

.modal--body {
  flex: 1;
  overflow-y: scroll;
}

.submit--btn {
  background-color: var(--lightBlue);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: var(--white);
  border-radius: 5px;
}