.sidebar {
  height: 100%;
  background-color: var(--darkBlue);
}

.sidebar--header {
  display: flex;
  align-items: center;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 3px;
  height: 50px;
  border-bottom: 1px solid;
  padding: 0 20px;
  color: white;
}

.sidebar--profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 10px;
  color: white;
  margin: 20px 0;
}

.profile--intro {
  font-size: 26px;
}

.profile--email {
  color: rgba(255, 255, 255, 0.72);
}

.sidebar--links {
  background-color: tomato;
  padding: 0 20px;
  margin: 20px 0;
}

.sidebar--links__item {
  padding: 10px 20px;
}

.sidebar--links__item ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 12px;
  list-style: none;
  margin: 5px 0;
  cursor: pointer;
}

.sidebar--icons {
  display: flex;
  font-size: 1.2rem;
  color: black;
}